$color-background-default: #ddd;
$color-background-card: #fff;
$color-primary: #19B5FE;
$color-default: #d4d4d4;
$color-numeric-btn: $color-default;
$color-operator-btn: $color-primary;
$color-list-item: #505050;
$color-text-default: #1a1a1a;
